<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>bts1</string>
		<key>name</key>
		<string>김남준</string>
		<key>nick</key>
		<string>RM</string>
		<key>desc</key>
		<string>1번째멤버</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bts2</string>
		<key>name</key>
		<string>김석진</string>
		<key>nick</key>
		<string>진</string>
		<key>desc</key>
		<string>2번째멤버</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bts3</string>
		<key>name</key>
		<string>민윤기</string>
		<key>nick</key>
		<string>슈가</string>
		<key>desc</key>
		<string>3번째멤버</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bts4</string>
		<key>name</key>
		<string>정호석</string>
		<key>nick</key>
		<string>제이홉</string>
		<key>desc</key>
		<string>4번째멤버</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bts5</string>
		<key>name</key>
		<string>박지민</string>
		<key>nick</key>
		<string>지민</string>
		<key>desc</key>
		<string>5번째멤버</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bts6</string>
		<key>name</key>
		<string>김태형</string>
		<key>nick</key>
		<string>뷔</string>
		<key>desc</key>
		<string>6번째멤버</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bts7</string>
		<key>name</key>
		<string>전정국</string>
		<key>nick</key>
		<string>정국</string>
		<key>desc</key>
		<string>7번째멤버</string>
	</dict>
</array>
</plist>
